@charset "UTF-8";

/* reset */
abbr,
address,
article,
aside,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  font-family: 'NanumSquare';
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  background-color: #2d2d2d;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border: 0px none #545454;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #1f1f1f;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

ul,
ol,
dl,
li,
dt,
dd {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

input,
select {
  vertical-align: middle
}

.blind {
  display: none;
}

#mGnb,
.obj,
.quickLink,
.mainMenu a {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #fff inset
}

.animate {
  opacity: 0;
  transition: all .2s;
  transition-property: opacity, transform
}

.animate.on {
  opacity: 1;
}

/* 네비게이션 */
#mGnb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-130px);
  z-index: 100;
}

.navContainer {
  position: relative;
  width: 100%;
  height: 115px;
  background: rgba(22, 22, 24, 0.9);
}

body.on #mGnb {
  transform: translateY(0);
}

.gnbWrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 0;
  background: url("../images/bg_m_gnb.png") 0 0 repeat-x;
  z-index: 100;
  transition: all .5s ease-in-out;
}

.isOpen .gnbWrapper {
  display: block;
  height: 100vh;
}

.navContainer .logo {
  position: absolute;
  top: 11px;
  left: 34px;
  width: 237px;
  height: 87px;
  background: url('../images/logo_mo.png') 50% 50% no-repeat;
  background-size: cover;
  z-index: 2;
}

.navContainer .btnGnbOpen {
  position: absolute;
  top: 0;
  right: 0;
  width: 178px;
  height: 115px;
  background: url("../images/btnGnbOpen.png") no-repeat;
  background-size: cover;
}

.gnbWrapper .btnGnbClose {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 178px;
  height: 115px;
  background: url("../images/btnGnbClose.png") no-repeat;
  background-size: cover;
}

.main {
  display: block;
  position: relative;
  padding: 380px 0 206px;
  width: 100%;
  height:100%;
  box-sizing: border-box;
  background: url("../images/img_pg0_01_t.png") 50% 68px no-repeat;
  background-size: 525px 261px;
}

.mainMenu {
  width: 100%;
}

.mainMenu>li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 25px;
  width: 100%;
}

.mainMenu>li:last-child {
  margin: 0;
}

.mainMenu>li>a {
  position: relative;
  margin: 0;
  padding: 0 12px 16px;
  color: #ffffff;
  font-size: 44px;
  font-weight: 500;
  line-height: 1;
}

.mainMenu>li.mn2 {
  flex-direction: column;
}

.mainMenu>li>a::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  content: ' ';
  transition: all .3s;
  transform: scaleX(0);
}

.mainMenu>li.mn2 a:before {
  position: absolute;
  top: 50%;
  right: -55px;
  margin: -15px 0 0;
  width: 26px;
  height: 15px;
  content: ' ';
  background: url("../images/arrow_down.png") 50% 50% no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}

.mainMenu>li.mn2.toggleOn a:before {
  transform: rotate(0);
}

.mainMenu .sub {
  display: none;
  padding-bottom: 29px;
}

.mainMenu .sub li {
  margin: 50px 0 0;
  text-align: center;
}

.pg2 .mainMenu li .sub li a,
.mainMenu li .sub li a {
  color: #fff;
  font-family: 'NanumSquare';
  font-size: 27px;
}

.mainMenu .sub li a:hover {
  color: #69d5ee;
}

.mainMenu>li.mn2.toggleOn .sub {
  display: block;
  position: relative;
  width: 100%;
}

.bottomMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 206px;
  background-color: #ffffff;
}

.pg0 .mainMenu .mn0 a,
.pg1 .mainMenu .mn1 a,
.pg2 .mainMenu .mn2 a,
.pg3 .mainMenu .mn7 a,
.pg4 .mainMenu .mn7 a {
  color: #69d5ee;
}

.pg0 .mainMenu .mn0 a:after,
.pg1 .mainMenu .mn1 a:after,
.pg2 .mainMenu .mn2 a:after,
.pg3 .mainMenu .mn7 a:after,
.pg4 .mainMenu .mn7 a:after {
  transform: scaleX(1);
  color: #69d5ee;
  background: #69d5ee;
}


/* SNS SHARE */
.snsList {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin:0 100px 0 0;
  padding: 45px 0 0;
}

.snsList::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #2d2d2d;
  font-family: 'NanumSquareBold';
  font-size: 25px;
  text-align: center;
  content: "공식 커뮤니티";
}

.snsList a,
.shareList a {
  display: block;
  width: 71px;
  height: 71px;
  margin: 0 23px;
  background-size: cover !important;
}

.snsList .sns1 {
  background: url('../images/ico_popsns1_mo.png') 50% 50% no-repeat;
}

.snsList .sns2 {
  background: url('../images/ico_popsns2_mo.png') 50% 50% no-repeat;
}

.snsList .sns3 {
  background: url('../images/ico_popsns3_mo.png') 50% 50% no-repeat;
}


.shareList {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 45px 0 0;
  margin: 0 0 0 100px;
}

.shareList::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #2d2d2d;
  font-family: 'NanumSquareBold';
  font-size: 25px;
  text-align: center;
  content: "공유하기";
}

.shareList .share1 {
  background: url('../images/ico_share1_mo.png') 0 0 no-repeat;
}

.shareList .share2 {
  background: url('../images/ico_share2_mo.png') 0 0 no-repeat;
}

.shareList .share3 {
  background: url('../images/ico_share3_mo.png') 0 0 no-repeat;
}
.bar{
  overflow:hidden;
  margin:40px 0;
  padding:0 0 0 1px;
  width:0;
  height:calc(100% - 80px);
  background:#cbcbcb;
}

/* 베너 */
.stickyBanner {
  position: absolute;
  top: 155px;
  right: 55px;
  width: 353px;
  height: 110px;
  z-index: 10;
}

.stickyBanner a.bnrLink {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/img_banner_mo.png') 50% 50% no-repeat;
  background-size: cover;
}

.stickyBanner a.closeBanner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 2;
}

/* 비디오 배경처리 */
video {
  background: transparent;
}

.topVideo {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.videoWrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.videoWrap video {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.section {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-width: 280px;
  box-sizing: border-box;
}

.section .obj {
  position: absolute;
  overflow: hidden;
  text-align: left;
  text-indent: -1000000em;
  opacity: 0;
  z-index: 3;
}

.reset {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 280px;
  z-index: 5;
}

.bounce2 {
  animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

/* 메인 */
#stg0 .reset,
#stg0 {
  height: 1366px;
}

#stg0 .notice {
  overflow: hidden;
  position: absolute;
  bottom: 26px;
  left: 30px;
  width: 137px;
  height: 18px;
  text-indent: -10000em;
  background: url('../images/img_pg0_04_1024.png') 50% 50% no-repeat;
  background-size: cover;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s;
  z-index: 5;
}

#stg0.on .notice {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 500ms;
}

#stg0 .ci {
  top: 245px;
  left: 50%;
  margin: 0 0 0 -304px;
  width: 607px;
  height: 302px;
  background: url("../images/img_pg0_01_1024.png") 50% 50% no-repeat;
  background-size: cover;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s;
}

#stg0 .text1 {
  top: 577px;
  left: 50%;
  margin: 0 0 0 -165px;
  width: 330px;
  height: 28px;
  background: url('../images/img_pg0_02.png') 50% 50% no-repeat;
  background-size: cover;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s;
}

#stg0 .text2 {
  top: 1102px;
  left: 50%;
  margin: 0 0 0 -296px;
  width: 592px;
  height: 65px;
  background: url('../images/img_pg0_03_1024.png') 50% 50% no-repeat;
  background-size: cover;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s;
}

.btnYtVideoPlay {
  top: 727px;
  left: 50%;
  margin: 0 0 0 -91px;
  width: 182px;
  height: 154px;
  background: url('../images/btn_vdoPlay.png') 50% 50% no-repeat;
  background-size: cover;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s;
  z-index: 6;
}

.objBtn {
  position: absolute;
  top: 1181px;
  left: 0;
  margin: 0;
  width: 100%;
  height: 116px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s;
}

.btnPreBook {
  display: block;
  margin: 0 auto;
  width: 636px;
  height: 116px;
  background: url('../images/btn_book_off_1024.png') 50% 50% no-repeat;
  background-size: cover;
  transition: all 0.3s;
  z-index: 6;
}

/* .btnPreBook:hover {
  background: url('../images/btn_book_on.png') 50% 50% no-repeat;
} */

.pageDown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0 0 0 -20px;
  width: 40px;
  height: 72px;
  background: url('../images/ico_scroll.png') 50% 50% no-repeat;
  z-index: 10;
  opacity: 0;
  transition: all 0.3s;
  transform: translateY(20px);
}

#stg0.on .pageDown {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 500ms;
}

.pageDown:hover {
  filter: brightness(120%);
}

#stg0.on .ci,
#stg0.on .obj,
#stg0.on .btnYtVideoPlay,
#stg0.on .objBtn {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 500ms;
}

#stg0.on .text1 {
  transition-delay: 600ms;
}

#stg0.on .text2 {
  transition-delay: 700ms;
}

#stg0.on .btnPlay {
  transition-delay: 800ms;
}

#stg1 {
  height: 2166.5px;
  opacity: 1;
  background: url('../images/bg_pg1_1024.jpg') 50% 50% no-repeat;
  background-size: cover;
}

#stg1 .reset {
  height: 2166.5px;
}

#stg1 .bookingBoard {
  position: relative;
  margin: 346.5px auto 0;
  width: 823px;
  height: 1705px;
  background: url('../images/img_pg1_00_1024.png') 0 0 no-repeat;
  background-size: cover;
  opacity: 0;
  z-index: 5;
  transition: all 0.3s;
}

#stg1 .chain {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 396px;
  background: url('../images/img_pg1_01_1024.png') 50% 0 no-repeat;
  background-size: 817px 396px;
  z-index: 6;
}

#stg1 .msk {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -406px;
  width: 817px;
  height: 395.5px;
  background: url('../images/msk_chain_1024.png') 50% 50% no-repeat;
  background-size: cover;
  z-index: 11;
}

#stg1 .o,
#stg2 .o {
  position: absolute;
  overflow: hidden;
  text-indent: -10000em;
  text-align: left;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s;
  z-index: 10;
}

#stg1 .obj1 {
  top: -231.5px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url('../images/img_pg1_02_1024.png') 50% 0 no-repeat;
  background-size: 333px 22px;
}

#stg1 .obj2 {
  top: -164.5px;
  left: 0;
  width: 100%;
  height: 61px;
  background: url('../images/img_pg1_03_1024.png') 50% 0 no-repeat;
  background-size: 376.5px 61px;
}

#stg1 .obj3 {
  top: -83.5px;
  left: 0;
  width: 100%;
  height: 26px;
  background: url('../images/img_pg1_04_1024.png') 50% 0 no-repeat;
  background-size: 522px 26px;
}

/* 
#stg1 .obj4 {
  top: -171px;
  left: 64px;
  width: 342px;
  height: 288px;
  transform: translateY(0);
  background: url('../images/img_pg1_05.png') 0 0 no-repeat;
  z-index: 2;
}

#stg1 .obj5 {
  top: -264px;
  left: 53px;
  width: 172px;
  height: 149px;
  background: url('../images/img_pg1_06.png') 0 0 no-repeat;
  z-index: 1;
} */
#stg1 .obj6 {
  top: 1100px;
  left: 0;
  width: 100%;
  height: 360px;
  background: url('../images/sg1_item_1024.png') 50% 0 no-repeat;
  background-size: 721px 360px;
}

#stg1 .obj7 {
  top: 1429px;
  left: 0;
  width: 100%;
  height: 218px;
  background: url('../images/sg1_item2_1024.png') 50% 0 no-repeat;
  background-size: 501px 218px;
}

#stg1 .obj8 {
  top: 70px;
  left: 0;
  width: 100%;
  height: 59.5px;
  background: url('../images/sg1_item3_1024.png') 50% 0 no-repeat;
  background-size: 481px 59.5px;
}

#stg1 .obj9 {
  top: 158px;
  left: 0;
  width: 100%;
  height: 89px;
  background: url('../images/sg1_item4_1024.png') 50% 0 no-repeat;
  background-size: 406px 89px;
}

.checker {
  overflow: hidden;
  position: relative;
}

.checker>input {
  position: absolute;
  left: -1000px;
}

input[type=checkbox]+label {
  padding-left: 50px;
  position: relative;
}

input[type=checkbox]+label:before {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 0;
  position: absolute;
  top: 1px;
  left: 1px;
  background: url('../images/checkbox_1024.png') 0 0 no-repeat;
  background-size: 200px 80px !important;
  border: none;
  cursor: pointer;
}

input[type=checkbox]:checked+label:before {
  content: ' ';
  background: url('../images/checkbox_1024.png') -80px 0 no-repeat;
}

input[type=checkbox]:disabled+label:before {
  content: ' ';
  background: url('../images/checkbox_1024.png') -120px 0 no-repeat;
}

input[type=radio]+label {
  padding-left: 50px;
  position: relative;
}

input[type=radio]+label:before {
  content: '';
  display: block;
  width: 31px;
  height: 31px;
  border-radius: 0;
  position: absolute;
  top: 4px;
  left: 0;
  background: url('../images/checkbox_1024.png') 0 -40px no-repeat;
  background-size: 200px 80px !important;
  border: none;
  cursor: pointer;
}

input[type=radio]:checked+label:before {
  content: ' ';
  background: url('../images/checkbox_1024.png') -80px -40px no-repeat;
}

input[type=radio]:disabled+label:before {
  content: ' ';
  background: url('../images/checkbox_1024.png') -120px -40px no-repeat;
}

#stg1 .osSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 303px;
  left: 0;
  width: 100%;
  text-indent: 0 !important;
}

#stg1 .osSelect label:last-child {
  margin: 0;
}

#stg1 .osSelect label span {
  position: relative;
  top: 2px;
  padding: 0;
}

#stg1 .osSelect label:nth-child(1) span img {
  height: 38px;
}

#stg1 .osSelect label:nth-child(2) span img {
  position: relative;
  top: -1px;
  height: 34px;
}

#stg1 .iptPhoneNumber {
  position: absolute;
  top: 394px;
  left: 93px;
  width: 636px;
  height: 87px;
  text-indent: 0 !important;
  background: url('../images/sg1_item5_1024.png') 50% 0 no-repeat;
  background-size: 636px 87px;
}

#stg1 .iptPhoneNumber input {
  margin: 0 0 0 171px;
  width: 389px;
  height: 81px;
  color: #000;
  font-size: 26px;
  font-weight: bold;
  font-family: 'NanumSquareBold';
  letter-spacing: 2px;
  text-align: center;
  border: 0;
  outline: none;
  background: transparent;
}

#stg1 .iptPhoneNumber input::placeholder {
  font-size: 26px;
}

#stg1 .osSelect .checker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 310px;
  height: 63px;
  margin: 0 28px 0 0;
  padding: 0 0 0 50px;
  border-radius: 32px;
  box-sizing: border-box;
  background: #424a49;
}

#stg1 .agreement {
  position: absolute;
  top: 515px;
  left: 93px;
  width: 636px;
  text-indent: 0 !important;
}

#stg1 .agreement li {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 0 10px;
}

#stg1 .agreement li .checker {
  min-height: 32px;
}

#stg1 .agreement li .checker label {
  position: relative;
  padding: 0px 0 0 50px;
  min-height: 32px;

}

#stg1 .agreement li .checker label span {
  position: relative;
  top: 3px;
}

#stg1 .agreement li label {
  padding: 0 0 0 6px;
  color: #757575;
  font-size: 20px;
}

#stg1 .viewAll {
  position: absolute;
  top: 3px;
  right: 0;
  padding: 0 0 2px;
  color: #4b5a55;
  font-size: 20px;
  border-bottom: 1px #c2c6c5 solid;
}

#stg1 .btnBook {
  position: absolute;
  top: 680px;
  left: 96px;
  width: 638px;
  height: 110px;
  background: url('../images/btn_book2_1024.png') 50% 50% no-repeat;
  background-size: cover;
}

#stg1 .btnWrap {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 836px;
  left: 0;
  width: 100%;
  text-indent: 0 !important;
}

#stg1 .btnWrap a {
  display: block;
  margin: 0 14px 0 0;
  background-size: cover !important;
}

#stg1 .btnWrap a:nth-child(1) {
  width: 179px;
  height: 55px;
  background: url("../images/btn_appstore_1024.png") no-repeat;
}

#stg1 .btnWrap a:nth-child(2) {
  width: 185px;
  height: 55px;
  background: url("../images/btn_googleplay_1024.png") no-repeat;
}

#stg1.on .o,
#stg2.on .o {
  opacity: 1;
  transform: translateY(0);
}

#stg1.on .obj2 {
  transition-delay: 0.1s;
}

#stg1.on .obj3 {
  transition-delay: 0.2s;
}

#stg1.on .obj5 {
  transition-delay: 0.3s;
}

#stg1.on .obj6 {
  transition-delay: 0.4s;
}

#stg1.on .obj7 {
  transition-delay: 0.5s;
}

#stg1.on .obj9 {
  transition-delay: 0.1s;
}

#stg1.on .bookingBoard {
  opacity: 1;
}

#stg1.on .osSelect {
  transition-delay: 0.2s;
}

#stg1.on .agreement {
  transition-delay: 0.3s;
}

#stg1.on .btnBook {
  transition-delay: 0.4s;
}

#stg1.on .btnWrap {
  transition-delay: 0.5s;
}

#stg2 {
  opacity: 1;
  height: 1541.5px;
  background: url('../images/bg_pg2_ta.jpg') 50% 50% no-repeat;
  background-size: cover;
}

#stg2 .reset {
  height: 1541.5px;
}

#stg2 .obj1 {
  display: none;
}

#stg2 .obj2 {
  top: 115px;
  left: 0;
  width: 100%;
  height: 159px;
  background: url('../images/img_pg2_02_1024.png') 50% 50% no-repeat;
  background-size: 673px 159px;
  transition: all 0.3s;
}

.infoWrapper {
  display: flex;
  overflow: visible !important;
  position: static !important;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 380px auto 0;
  width: 824px;
  text-indent: 0 !important;
}

.infoWrapper .info {
  position: relative;
  width: 397px;
  height: 538px;
  margin: 0 0 20px;
}

.infoWrapper .info:after {
  position: absolute;
  width: 464px;
  height: 598px;
  top: -28px;
  left: -34px;
  background: url('../images/pg2_info_shadow_mo.png') 0 0 no-repeat;
  background-size: cover;
  content: ' ';
}

.infoWrapper .info a {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 0;
  width: 397px;
  height: 538px;
  z-index: 2;
}

.infoWrapper .info a:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 397px;
  height: 538px;
  content: ' ';
  background: url('../images/pg2_info_frame_mo.png') 50% 50% no-repeat;
  background-size: cover;
  z-index: 5;
}

.infoWrapper .info a .mask {
  display: block;
  -webkit-mask-image: url('../images/pg2_info_mask_mo.png');
  mask-image: url('../images/pg2_info_mask_mo.png');
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.infoWrapper .info a .mask img.img1 {
  display: block;
}

.infoWrapper .info a .mask img.img2 {
  display: none;
}

.infoWrapper .info a .text {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 55px;
  font-family: 'NanumSquareBold';
  transition: all 1s;
}

.infoWrapper .info a img {
  width: 100%;
  transition: all 1s;
}

.infoWrapper .info:hover a img {
  transform: scale(1.2);
}

.infoWrapper .info:hover a .text {
  transform: scale(1.1);
}

#stg2.on .obj1 {
  opacity: 1;
  transform: translate(0, 0);
}

#stg2.on .obj3 {
  opacity: 1;
  transform: translate(0, 0);
}

#stg3 {
  opacity: 1;
  background: url('../images/bg_pg1_pc.jpg') 50% 50% no-repeat;
  background-size: cover;
}

#stg7 {
  display: block;
  overflow: hidden;
  height: 1523px;
  opacity: 1;
  background: url('../images/bg_pg7_1024.jpg') 50% 50% no-repeat;
  background-size: cover;
}

#stg7 .reset {
  overflow: hidden;
  height: 1523px;
}

#stg7 .obj {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s;
}

#stg7.on .obj {
  opacity: 1;
  transform: translateY(0);
}

#stg7 .text1 {
  top: 113px;
  left: 0;
  margin: 0;
  width: 100%;
  height: 22px;
  background: url("../images/pg7_text1_1024.png") 50% 0 no-repeat;
  background-size: 333px 22px;
}

#stg7 .text2 {
  top: 180px;
  left: 0;
  margin: 0;
  width: 100%;
  height: 61px;
  background: url("../images/pg7_text2_1024.png") 50% 0 no-repeat;
  background-size: 378px 61px;
}

#stg7 .text3 {
  top: 268px;
  left: 0;
  margin: 0;
  width: 100%;
  height: 67px;
  background: url("../images/pg7_text3_1024.png") 50% 0 no-repeat;
  background-size: 559px 61px;
}

#stg7 .btnGoto {
  top: 378px;
  left: 50%;
  margin: 0 0 0 -234px;
  width: 468px;
  height: 97px;
  background: url("../images/pg7_button_1024.png") 50% 50% no-repeat;
  background-size: cover;
}

.evtSliderWrap {
  position: relative;
  margin: 529px auto 0;
  width: 824px;
  height: 808px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s;
}

.evtSlider {
  margin: 0;
  width: 100%;
}

.evtSlider .slick-track {
  margin: 0;
}

.evtSlider .slick-slide {
  margin: 0 100px;
}

.evtSlider .slide img {
  object-fit: scale-down;
  width: 824px;
}

.evtSlider .slick-arrow {
  overflow: hidden;
  text-indent: -1000em;
  position: absolute;
  top: 50%;
  margin-top: -54px;
  width: 109px;
  height: 109px;
  z-index: 10;
  border: 0;
  background: url('../images/btn_slider_1024.png') 50% 50% no-repeat;
  opacity: 0.6;
  background-size: cover;
  transition: all 0.3s;
}

.evtSlider .slick-arrow:hover {
  opacity: 1
}

.evtSlider .slick-prev {
  left: -52px;
}

.evtSlider .slick-next {
  right: -52px;
  transform: rotate(180deg)
}

.evtSlider .slick-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px 0 0;
}

.evtSlider .slick-dots li button {
  overflow: hidden;
  margin: 0 15px !important;
  width: 26px;
  height: 26px;
  opacity: 1 !important;
  text-indent: -100000em;
  border-radius: 3px !important;
  transform: rotate(45deg);
  border: 0;
  background: #ffffff;
}

.evtSlider .slick-dots li.slick-active button {
  background-color: #9238c0;
}

#stg7.on .evtSliderWrap {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;

}

#stg7.on .text1 {
  transition-delay: 0.2s;
}

#stg7.on .text2 {
  transition-delay: 0.3s;
}

#stg7.on .text3 {
  transition-delay: 0.4s;
}

#stg7.on .btnGoto {
  transition-delay: 0.5s;
}

.footerWrapper {
  position: relative;
  overflow: hidden;
  top: 0;
  height:225px;
  width: 100%;
  background: #2d2d2d;
  z-index: 10;
  opacity: 1;
}

.footerWrapper .footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding:36px 0 0;
  margin: 0 auto;
  height: 188px;
}

.footer .company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer .company a {
  margin:0 30px;
}

.footer .footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0 16px;
  width: 100%;
}

.footer .footerLinks .bar {
  display: block;
  width: 1px;
  margin:0 24px;
  height:16px;
  background: #4d4d4d;
}

.footer .footerLinks a {
  color: #909090;
  font-size:18px;
}

.footer .copyright {
  color: #909090;
  height:16px;
}

/* 레이어 */
.modalDimmed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1000;
  opacity: 0;
}

.modalDimmed.isActive {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.modalDimmed .btnCloseLayer {
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  text-indent: -10000em;
  background: url('../images/btn_closeLayer.png') 50% 50% no-repeat;
}

.btnCloseModal {
  position: absolute;
  right: 0;
  top: -46px;
  width: 33px;
  height: 33px;
  background: url("../images/btn_closeModal.png") 50% 50% no-repeat;
  background-size: cover;
}

.popBtnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.popBtnWrap a {
  margin: 0 5px;
}

.popBtnWrap .btnConfirm {
  display: block;
  overflow: hidden;
  width: 121px;
  height: 39px;
  text-indent: -100000em;
  background: url('../images/btn_pop_confirm.png') 50% 50% no-repeat;
}

.layerAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 497px;
  height: 197px;
  padding: 0;
  box-sizing: border-box;
  border: 1px #000 solid;
  background: url("../images/bg_popup1.png") 0 0 repeat;
  background-size: cover;
}

.layerAlert .textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 82px;
  margin: 0 0 10px;
  color: #111;
  font-family: 'NanumSquareBold';
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
}

.layerAgree,
.layerDone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 707px;
  height: 426px;
  background: url('../images/bg_popup2.png') 0 0 no-repeat;
  background-size: cover;
}

.layerDone .t1 {
  margin: 0 0 15px;
  color: #424a49;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.layerDone .t1 strong {
  color: #e1893b;
}

.layerDone .t2 {
  margin: 0 0 15px;
  color: #424a49;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.layerDone .links {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 0 30px;
  width: 510px;
  height: 110px;
  background: rgba(192, 192, 192, 0.6);
  border-radius: 6px;
}

.layerDone .links a {
  display: block;
  overflow: hidden;
  margin: 0 7px;
  width: 53px;
  height: 53px;
  text-indent: -10000em;
}

.layerDone .links a:nth-child(1) {
  background: url('../images/ico_popsns1.png') 0 0 no-repeat;
}

.layerDone .links a:nth-child(2) {
  background: url('../images/ico_popsns2.png') 0 0 no-repeat;
}

.layerDone .links a:nth-child(3) {
  background: url('../images/ico_popsns3.png') 0 0 no-repeat;
}

.layerDone .links a:nth-child(4) {
  background: url('../images/ico_popsns4.png') 0 0 no-repeat;
}

.layerAgree .tit {
  margin: 0 30px 25px;
  padding: 0 0 20px;
  width: calc(100% - 60px);
  font-size: 26px;
  text-align: center;
  border-bottom: 2px rgba(176, 176, 176, 0.8) solid;
}

.layerAgree dl {
  margin: 0 55px;
  padding: 0 0 8px;
  width: calc(100% - 110px);
}

.layerAgree dl dt {
  position: relative;
  padding: 0 0 0 15px;
  margin: 0 0 12px;
  color: #000000;
  font-size: 16px;
  line-height: 1.2;
}

.layerAgree dl dt:after {
  position: absolute;
  top: 5px;
  left: 0;
  width: 9px;
  height: 9px;
  content: ' ';
  background: url('../images/bul.png') 0 0 no-repeat;
}

.layerAgree dl dd {
  padding: 0 0 0 15px;
  margin: 0 0 6px;
  color: #000000;
  font-size: 12px;
  line-height: 1.4;
}

.lyrMvClip {
  display: none;
  position: relative;
  max-width: 980px;
  width: 100%;
  z-index: 2000;
}

.isActive .lyrMvClip {
  display: block;
}

.lyrMvClip .vdoWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.lyrMvClip .btnCloseModal{
  right:50%;
  margin-right:-398px;
}

/* 태블릿 */
@media (max-width: 1023px) {
  /* 네비 */
  .navContainer{
    height:110px;
  }
  .navContainer .logo{
    width:218px;
    height:80px;
  }
  .navContainer .btnGnbOpen{
    height:110px;
    width:132px;
    background:url('../images/mobile/btnGnbOpen.png') 50% 50% no-repeat;
    background-size:132px 110px;

  }
  .gnbWrapper .btnGnbClose{
    height:110px;
    width:132px;
    background:url('../images/mobile/btnGnbClose.png') 50% 50% no-repeat;
    background-size:132px 110px;
  }
  .main {
    padding:310px 0 194px;
    background:url("../images/mobile/img_menuLogo.png") 50% 60px no-repeat;
    background-size:420px 209px;
  }
  .mainMenu>li {
    margin:0 0 24px;
  }
  .mainMenu>li>a{
    padding:0 10px 14px;
    font-size:26px;
  }
  .mainMenu>li.mn2 a:before{
    right:-52px;
    margin:-14px 0 0;
    width:28px;
    height:14px;
  }
  .mainMenu>li>a::after{
    height:4px;
  }
  .mainMenu .sub{
    padding-top:20px;
  }
  .mainMenu .sub li{
    margin:28px 0 0;
  }
  .pg2 .mainMenu li .sub li a, .mainMenu li .sub li a{
    font-size:20px;
  }
  .bottomMenu{
    height:194px;
  }
  .snsList {
    margin:0 42px 0 0;
  }
  .shareList{
    margin:0 0 0 42px;
  }
  .snsList a, .shareList a{
    margin:0 12px;
  }
  .bar{
    margin:33px 0;
    height:calc(100% - 66px);
  }
  .stickyBanner{
    top:112px;
    right:20px;
    width:324px;
    height:102px;
  }
  .stickyBanner a.bnrLink{
    background:url('../images/mobile/img_banner_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  /* 메인 */
  #stg0 .reset, #stg0{
    position:relative;
    height:1334px;
  }
  #stg0 .ci{
    top:215px;
    margin:0 0 0 -285px;
    width:570px;
    height:284px;
    background:url("../images/mobile/img_pg0_01_mo.png") 50% 50% no-repeat;
    background-size:cover;
  }
  #stg0 .text1{
    top:510px;
    margin:0 0 0 -201px;
    width:402px;
    height:46px;
    background:url('../images/mobile/img_pg0_02_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  #stg0 .text2{
    top:auto;
    bottom:190px;
    margin:0 0 0 -296px;
    width:592px;
    height:58px;
    background: url('../images/mobile/img_pg0_03_mo.png') 50% 50% no-repeat;
  }
  .btnYtVideoPlay{
    top:690px;
    margin:0 0 0 -122px;
    width:244px;
    height:244px;
    background:url('../images/mobile/btn_vdoPlay_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  .objBtn{
    top:auto;
    bottom:56px;
    height:auto;
  }
  .btnPreBook{
    width:672px;
    height:122px;
    background:url("../images/mobile/btn_book_mo.png") no-repeat;
    background-size:cover;
  }
  #stg0 .notice{
    left:14px;
    bottom:14px;
    width:138px;
    height:18px;
    background:url("../images/mobile/img_pg0_04_mo.png") no-repeat;
    background-size:cover;
  }
  /* 사전예약 */
  #stg1 {
    height:1916px;
    background:url("../images/mobile/bg_pg1_mo.jpg") 50% 0 no-repeat;
    background-size:cover;
  }
  #stg1 .reset{
    height:1916px;
  }
  #stg1 .msk{
    left:0;
    margin:0;
    width:100%;
    height:366px;
    background:url("../images/mobile/msk_chain_mo.png") 50% 0 no-repeat;
    background-size:740px 366px;
  }
  /* 게임소개 */
  #stg2 {
    height:1335px;
    background:url("../images/mobile/bg_pg2_mo.jpg") 50% 0 no-repeat;
    background-size:cover;
  }
  #stg2 .reset{
    height:1335px;
  }
  #stg2 .obj2{
    top:110px;
    height:136px;
    background:url('../images/mobile/img_pg2_02_mo.png') 50% 50% no-repeat;
    background-size:578px 136px;
  }
  .infoWrapper{
    justify-content: space-between;
    margin:320px 35px 0;
    width:calc(100% - 70px);
  }
  .infoWrapper .info{
    margin:0 0 24px;
    width:324px;
    height:440px;
  }
  .infoWrapper .info:after{
    top:-20px;
    left:-20px;
    width:378px;
    height:486px;
    background:url('../images/mobile/pg2_info_shadow_mo.png') 0 0 no-repeat;
    background-size:cover;
  }
  .infoWrapper .info a{
    width:324px;
    height:440px;
  }
  .infoWrapper .info a .mask{
    -webkit-mask-image: url('../images/mobile/pg2_info_mask_mo.png');
    mask-image: url('../images/mobile/pg2_info_mask_mo.png');
  }
  .infoWrapper .info a .text{
    bottom:68px;
    font-size:46px;
  }
  .infoWrapper .info a:before{
    width:324px;
    height:440px;
    background: url('../images/mobile/pg2_info_frame_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  /* 이벤트 */
  #stg7 {
    height:1350px;
    background:url("../images/mobile/bg_pg3_mo.jpg") 50% 0 no-repeat;
    background-size:cover;
  }
  #stg7 .reset{
    height:1350px;
  }
  #stg7 .text1{
    top:109px;
    height:20px;
    background:url("../images/mobile/pg7_text1_mo.png") 50% 0 no-repeat;
    background-size:auto 20px;
  }
  #stg7 .text2 {
    top:167px;
    height:56px;
    background:url("../images/mobile/pg7_text2_mo.png") 50% 0 no-repeat;
    background-size:auto 56px;
  }
  #stg7 .text3 {
    top:240px;
    height:62px;
    background:url("../images/mobile/pg7_text3_mo.png") 50% 0 no-repeat;
    background-size:auto 62px;
  }
  #stg7 .btnGoto{
    top:342px;
    margin:0 0 0 -212px;
    width:424px;
    height:88px;
  }
  .evtSliderWrap{
    width:672px;
    height:724px;
  }
  .evtSlider .slide img{
    width:672px;
    height:724px;
  }
  .evtSlider .slick-arrow{
    margin-top:-40px;
    width:80px;
    height:80px;
  }
  .evtSlider .slick-prev{
    left:-40px;
  }
  .evtSlider .slick-next{
    right:-40px;
  }
  .evtSlider .slick-dots{
    margin:0 auto;
  }
  .evtSlider .slick-dots li button{
    width:20px;
    height:20px;
    border-radius: 3px;
  }
  /* 레이어 */
  .layerAlert{
    width:592px;
    height:196px;
    background:url('../images/mobile/bg_popup1_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  .layerAlert.layerAlert2{
    width:592px;
    height:250px;
    background:url('../images/mobile/bg_popup3_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  .layerAlert .textBox{
    margin:0;
    font-size:28px;
    min-height: auto;
  }
  .popBtnWrap {
    margin:28px 0 0;
  }
  .layerDone{
    overflow: hidden;
    justify-content: flex-start;
    width:670px;
    height:608px;
    background:url('../images/mobile/bg_popup2_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  .layerDone .t1{
    margin:64px 0 0;
    font-size:38px;
    line-height:1.3;
    text-align: center;
  }
  .layerDone .t2{
    margin:20px 0 30px;
    font-size:22px;
    line-height:1.3;
    text-align: center;
  }
  .layerDone .links{
    margin:0 40px 50px;
    padding:38px 0;
    width:calc(100% - 80px);
    height:auto;
  }
  .layerDone .links a{
    margin:0 12px;
    width:72px;
    height:72px;
  }
  .layerDone .links a:nth-child(1){
    background: url('../images/mobile/ico_popsns1.png') 0 0 no-repeat;
    background-size:cover;
  }
  .layerDone .links a:nth-child(2){
    background: url('../images/mobile/ico_popsns2.png') 0 0 no-repeat;
    background-size:cover;
  }
  .layerDone .links a:nth-child(3){
    background: url('../images/mobile/ico_popsns3.png') 0 0 no-repeat;
    background-size:cover;
  }
  .layerDone .links a:nth-child(4){
    background: url('../images/mobile/ico_popsns4.png') 0 0 no-repeat;
    background-size:cover;
  }
  .layerDone .popBtnWrap{
    margin:0;
  }
  .layerAgree{
    overflow: hidden;
    justify-content: flex-start;
    width:670px;
    height:642px;
    background:url('../images/mobile/bg_popup4_mo.png') 50% 50% no-repeat;
    background-size:cover;

  }
  .layerAgree .tit{
    margin:62px 40px 30px;
    padding:0 0 26px;
    font-size:32px;
  }
  .layerAgree dl{
    margin:0 40px;
    padding:0 0 10px;
    width: calc(100% - 80px);
  }
  .layerAgree dl dt{
    margin:0 0 10px;
    font-size:22px;
    line-height: 1.3;
  }
  .layerAgree dl dt:after{
    top:8px;
  }
  .layerAgree dl dd{
    margin:0 0 6px;
    font-size:17px;
  }
  .mbr{
    display: block;
  }
  .modalDimmed .btnCloseLayer{
    top:23px;
    right:23px;
    width:32px;
    height:32px;
    background:url('../images/mobile/btn_closeLayer.png') 50% 50% no-repeat;
    background-size:cover;
  }
  .lyrMvClip .btnCloseModal{
    right:50%;
    margin-right:-360px;
  }
}
/* 모바일 */
@media (max-width: 640px) {

   /* 네비 */
   .navContainer{
    height:55px;
  }
  .navContainer .logo{
    top:5px;
    left:17px;
    width:109px;
    height:40px;
  }
  .navContainer .btnGnbOpen{
    height:55px;
    width:61px;
    background:url('../images/mobile/btnGnbOpen.png') 50% 50% no-repeat;
    background-size:61px 55px;

  }
  .gnbWrapper .btnGnbClose{
    height:55px;
    width:61px;
    background:url('../images/mobile/btnGnbClose.png') 50% 50% no-repeat;
    background-size:61px 55px;
  }
  .main {
    padding:210px 0 97px;
    background:url("../images/mobile/img_menuLogo.png") 50% 60px no-repeat;
    background-size:210px 104.5px;
  }
  .mainMenu>li {
    margin:0 0 14px;
  }
  .mainMenu>li>a{
    padding:0 3px 4px;
    font-size:13px;
  }
  .mainMenu>li.mn2 a:before{
    right:-26px;
    margin:-7px 0 0;
    width:14px;
    height:7px;
  }
  .mainMenu>li>a::after{
    height:1px;
  }
  .mainMenu .sub{
    padding-top:10px;
  }
  .mainMenu .sub li{
    margin:14px 0 0;
  }
  .pg2 .mainMenu li .sub li a, .mainMenu li .sub li a{
    font-size:10px;
  }
  .bottomMenu{
    height:97px;
  }
  .snsList {
    margin:0 21px 0 0;
    padding:22px 0 0;
  }
  .shareList{
    margin:0 0 0 21px;
    padding:22px 0 0;
  }
  .snsList::before,
  .shareList::before{
    font-size:12px;
  }
  .snsList a, .shareList a{
    margin:0 6px;
    width:35px;
    height:35px;
  }
  .bar{
    margin:16.5px 0;
    height:calc(100% - 66px);
  }
  .stickyBanner{
    top:56px;
    right:10px;
    width:162px;
    height:51px;
  }
  .stickyBanner a.bnrLink{
    background:url('../images/mobile/img_banner_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  
  .section, .reset{
    max-width:640px;
    min-width:280px;
  }
  /* 메인 */
  #stg0 .reset, #stg0{
    position:relative;
    height:667px;
  }
  #stg0 .ci{
    top:107px;
    margin:0 0 0 -142px;
    width:285px;
    height:142px;
    background:url("../images/mobile/img_pg0_01_mo.png") 50% 50% no-repeat;
    background-size:cover;
  }
  #stg0 .text1{
    top:255px;
    margin:0 0 0 -100px;
    width:201px;
    height:23px;
    background:url('../images/mobile/img_pg0_02_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  #stg0 .text2{
    top:auto;
    bottom:95px;
    margin:0 0 0 -148px;
    width:296px;
    height:29px;
    background: url('../images/mobile/img_pg0_03_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  .btnYtVideoPlay{
    top:345px;
    margin:0 0 0 -61px;
    width:122px;
    height:122px;
    background:url('../images/mobile/btn_vdoPlay_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  .objBtn{
    top:auto;
    bottom:28px;
    height:auto;
  }
  .btnPreBook{
    width:336px;
    height:61px;
    background:url("../images/mobile/btn_book_mo.png") no-repeat;
    background-size:cover;
  }
  #stg0 .notice{
    left:7px;
    bottom:7px;
    width:69px;
    height:9px;
    background:url("../images/mobile/img_pg0_04_mo.png") no-repeat;
    background-size:cover;
  }
  /* 사전예약 */
  #stg1 {
    height:958px;
    background:url("../images/mobile/bg_pg1_mo.jpg") 50% 0 no-repeat;
    background-size:cover;
  }
  #stg1 .reset{
    height:958px;
  }
  #stg1 .msk{
    left:0;
    margin:0;
    width:100%;
    height:183px;
    background:url("../images/mobile/msk_chain_mo.png") 50% 0 no-repeat;
    background-size:370px 183px;
  }
  /* 게임소개 */
  #stg2 {
    height:667px;
    background:url("../images/mobile/bg_pg2_mo.jpg") 50% 0 no-repeat;
    background-size:cover;
  }
  #stg2 .reset{
    height:667px;
  }
  #stg2 .obj2{
    top:55px;
    height:68px;
    background:url('../images/mobile/img_pg2_02_mo.png') 50% 50% no-repeat;
    background-size:289px 68px;
  }
  .infoWrapper{
    justify-content: space-between;
    margin:160px 17px 0;
    width:calc(100% - 34px);
  }
  .infoWrapper .info{
    margin:0 0 12px;
    width:162px;
    height:220px;
  }
  .infoWrapper .info:after{
    top:-10px;
    left:-10px;
    width:189px;
    height:243px;
    background:url('../images/mobile/pg2_info_shadow_mo.png') 0 0 no-repeat;
    background-size:cover;
  }
  .infoWrapper .info a{
    width:162px;
    height:220px;
  }
  .infoWrapper .info a .mask{
    -webkit-mask-image: url('../images/mobile/pg2_info_mask_mo.png');
    mask-image: url('../images/mobile/pg2_info_mask_mo.png');
  }
  .infoWrapper .info a .text{
    bottom:34px;
    font-size:18px;
  }
  .infoWrapper .info a:before{
    width:162px;
    height:220px;
    background: url('../images/mobile/pg2_info_frame_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  /* 이벤트 */
  #stg7 {
    height:675px;
    background:url("../images/mobile/bg_pg3_mo.jpg") 50% 0 no-repeat;
    background-size:cover;
  }
  #stg7 .reset{
    height:675px;
  }
  #stg7 .text1{
    top:80px;
    height:10px;
    background:url("../images/mobile/pg7_text1_mo.png") 50% 0 no-repeat;
    background-size:auto 10px;
  }
  #stg7 .text2 {
    top:100px;
    height:28px;
    background:url("../images/mobile/pg7_text2_mo.png") 50% 0 no-repeat;
    background-size:auto 28px;
  }
  #stg7 .text3 {
    top:145px;
    height:31px;
    background:url("../images/mobile/pg7_text3_mo.png") 50% 0 no-repeat;
    background-size:auto 31px;
  }
  #stg7 .btnGoto{
    top:200px;
    margin:0 0 0 -106px;
    width:212px;
    height:44px;
  }
  .evtSliderWrap{
    margin:234px 0 0;
    width:100%;
    height:362px;
  }
  .evtSlider{
    margin:0 auto;
    width:336px;
    height:362px;
  }
  .evtSlider .slide img{
    width:336px;
    height:362px;
  }
  .evtSlider .slick-arrow{
    margin-top:-20px;
    width:40px;
    height:40px;
  }
  .evtSlider .slick-prev{
    left:-15px;
  }
  .evtSlider .slick-next{
    right:-15px;
  }
  .evtSlider .slick-dots{
    margin:0 auto;
  }
  .evtSlider .slick-dots li button{
    margin:0 6px !important;
    padding:0;
    width:10px;
    height:10px;
    line-height: 0;
    border-radius: 2px !important;
    border:0;
  }
  /* 레이어 */
  .layerAlert{
    width:296px;
    height:98px;
    background:url('../images/mobile/bg_popup1_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  .layerAlert.layerAlert2{
    width:296px;
    height:125px;
    background:url('../images/mobile/bg_popup3_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  .layerAlert .textBox{
    margin:0;
    font-size:14px;
    min-height: auto;
  }
  .popBtnWrap {
    margin:14px 0 0;
  }
  .layerDone{
    overflow: hidden;
    justify-content: flex-start;
    width:335px;
    height:304px;
    background:url('../images/mobile/bg_popup2_mo.png') 50% 50% no-repeat;
    background-size:cover;
  }
  .layerDone .t1{
    margin:32px 0 0;
    font-size:19px;
    line-height:1.3;
    text-align: center;
  }
  .layerDone .t2{
    margin:10px 0 15px;
    font-size:11px;
    line-height:1.3;
    text-align: center;
  }
  .layerDone .links{
    margin:0 20px 25px;
    padding:19px 0;
    width:calc(100% - 40px);
    height:auto;
  }
  .layerDone .links a{
    margin:0 6px;
    width:36px;
    height:36px;
  }
  .layerDone .links a:nth-child(1){
    background: url('../images/mobile/ico_popsns1.png') 0 0 no-repeat;
    background-size:cover;
  }
  .layerDone .links a:nth-child(2){
    background: url('../images/mobile/ico_popsns2.png') 0 0 no-repeat;
    background-size:cover;
  }
  .layerDone .links a:nth-child(3){
    background: url('../images/mobile/ico_popsns3.png') 0 0 no-repeat;
    background-size:cover;
  }
  .layerDone .links a:nth-child(4){
    background: url('../images/mobile/ico_popsns4.png') 0 0 no-repeat;
    background-size:cover;
  }
  .layerDone .popBtnWrap{
    margin:0;
  }
  .layerDone .popBtnWrap img{
    height:26px;
  }
  .layerAgree{
    overflow: hidden;
    justify-content: flex-start;
    width:335px;
    height:321px;
    background:url('../images/mobile/bg_popup4_mo.png') 50% 50% no-repeat;
    background-size:cover;

  }
  .layerAgree .tit{
    margin:26px 20px 7px;
    padding:0 0 10px;
    width: calc(100% - 40px);
    font-size:12px;
  }
  .layerAgree dl{
    margin:0 20px;
    padding:0 0 5px;
    width: calc(100% - 40px);
  }
  .layerAgree dl dt{
    margin:0 0 5px;
    padding:0 0 0 10px;
    font-size:10px;
    line-height: 1.3;
  }
  .layerAgree dl dt:after{
    top:3px;
    width:5px;
    height: 5px;
    background-size: cover;
  }
  .layerAgree dl dd{
    margin:0 0 3px;
    font-size:10px;
  }
  .mbr{
    display: block;
  }
  .modalDimmed .btnCloseLayer{
    top:11px;
    right:11px;
    width:16px;
    height:16px;
    background:url('../images/mobile/btn_closeLayer.png') 50% 50% no-repeat;
    background-size:cover;
  }
  .lyrMvClip .btnCloseModal{
    right:50%;
    margin-right:-180px;
  }
  .popBtnWrap .btnConfirm{
    width:60px;
    height:20px;
    background-size:60px 20px;
  }
  
.footerWrapper {
  position: relative;
  overflow: hidden;
  top: 0;
  height:112px;
  width: 100%;
  background: #2d2d2d;
  z-index: 10;
  opacity: 1;
}

.footerWrapper .footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding:18px 0 0;
  margin: 0 auto;
  height: 94px;
}

.footer .company a {
  margin:0 15px;
}
.footer .company a img{
  height:16px;
}

.footer .footerLinks {
  margin: 24px 0 8px;
  width: 100%;
}

.footer .footerLinks .bar {
  margin:0 12px;
  height:8px;
}

.footer .footerLinks a {
  font-size:10px;
}

.footer .copyright {
  height:12px;
  font-size:8px;
}
}